
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 7.5%;
  padding-bottom: 40px;
}

.text-center{
  background-color: #f5f5f5;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin  {
  z-index: 2;
}

.form-signin {
  margin-bottom: -1px;
  border-radius: 0.375rem;
}
